*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--fs-300: 0.9375rem;
	--fs-400: 1rem;
	--fs-500: 1.25rem;
	--fs-600: 1.5rem;
	--fs-700: 1.75rem;
	--fs-800: 2rem;

	--ff-main: 'Rubik', sans-serif;
	--fw-400: 400;
	--fw-500: 500;
	--fw-700: 700;

	--clr-blue: hsl(238, 40%, 52%);
	--clr-blue-hover: hsl(238, 40%, 52%, 0.6);
	--clr-soft-red: hsl(358, 79%, 66%);
	--clr-light-grayish-blue: hsl(239, 57%, 85%);
	--clr-pale-red: hsl(357, 100%, 86%);

	--clr-dark-blue: hsl(212, 24%, 26%);
	--clr-grayish-blue: hsl(211, 10%, 45%);
	--clr-light-gray: hsl(223, 19%, 93%);
	--clr-very-light-gray: hsl(228, 33%, 97%);
	--clr-white: hsl(0, 0%, 100%);

	--clr-svg: hsl(239, 57%, 85%);

	--br-25: 25px;
	--br-10: 10px;
	--br-5: 5px;
}

body {
	font-family: var(--ff-main);
	font-size: var(--fs-400);
}

.main {
	background-color: var(--clr-very-light-gray);
	min-height: 100vh;
	padding: 2rem 0;
}

.container {
	width: 85%;
	max-width: 800px;
	margin-inline: auto;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

img {
	width: 100%;
}

.user_input__form {
	padding: 1.5rem;
	background-color: var(--clr-white);
	border-radius: var(--br-10);
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
}

.no_padding {
	padding: 0.5rem 0;
}

.user_avatar {
	width: 3rem;
}

.user_input_text {
	font-size: var(--fs-400);
	font-family: var(--ff-main);
	flex-basis: 100%;
	height: 7rem;
	padding: 0.75rem 0.75rem;
	border: 2px solid var(--clr-very-light-gray);
	border-radius: var(--br-10);
	resize: none;
	white-space: pre-wrap;
}

.user_input_text:focus,
.user_input_text:hover {
	cursor: pointer;
	outline: 1px solid var(--clr-blue);
}

.btn {
	font-size: var(--fs-400);
	font-weight: var(--fw-500);
	font-family: var(--ff-main);
	padding: 0.75rem 1.5rem;
	color: var(--clr-white);
	background-color: var(--clr-blue);
	border: none;
	border-radius: var(--br-5);
	text-transform: uppercase;
	transition: all 200ms;
}

.btn:hover {
	cursor: pointer;
	opacity: 0.5;
}

.user_avatar_comment {
	width: 1.75rem;
}

.comments {
	padding: 0 0 1.5rem;
	display: grid;
	gap: 1.5rem;
}

.root_comment {
	padding: 1.5rem;
	background-color: var(--clr-white);
	border-radius: var(--br-10);
	flex-direction: column;
}

.root_comment__container {
	gap: 1rem;
}

.rating {
	display: grid;
	align-content: start;
	text-align: center;
}

.increase_btn,
.decrease_btn,
.score {
	width: 1.75rem;
	aspect-ratio: 1;
	border: none;
	background-color: var(--clr-very-light-gray);
	display: grid;
	place-items: center;
	fill: currentColor;
}

.score {
	color: var(--clr-blue);
	font-weight: var(--fw-500);
}

.increase_btn {
	border-radius: var(--br-5) var(--br-5) 0 0;
	color: var(--clr-svg);
}

.decrease_btn {
	color: var(--clr-svg);
	border-radius: 0 0 var(--br-5) var(--br-5);
}

.increase_btn:hover,
.decrease_btn:hover {
	cursor: pointer;
	color: var(--clr-blue);
}

.root_comment__content {
	flex-direction: column;
	gap: 0.5rem;
	flex-basis: 100%;
}

.user_info {
	align-items: center;
	justify-content: space-between;
}

.username {
	margin-left: 1rem;
	font-weight: var(--fw-500);
}

.you {
	margin-left: 1rem;
	font-size: var(--fs-300);
	color: var(--clr-white);
	background-color: var(--clr-blue);
	padding: 0.15rem 0.45rem;
	border-radius: var(--br-5);
}

.timestamp {
	margin-left: 1rem;
	margin-right: auto;
	color: var(--clr-grayish-blue);
}

.reply_btn,
.delete_btn,
.edit_btn {
	border: none;
	text-transform: capitalize;
	background-color: transparent;
	gap: 0.5rem;
	color: var(--clr-blue);
	font-weight: var(--fw-700);
	font-size: var(--fs-400);
	align-items: center;
}

.delete_btn {
	color: var(--clr-soft-red);
	margin-right: 1rem;
}

.delete_btn:hover,
.reply_btn:hover,
.edit_btn:hover {
	cursor: pointer;
	opacity: 0.5;
}

.comment_content {
	line-height: 1.5rem;
	color: var(--clr-grayish-blue);
}

.root_comment__dialog {
	margin: auto;
	padding: 2.5rem 2rem;
	border: none;
	border-radius: var(--br-10);
	max-width: 375px;
	z-index: 10;
}

.dialog_container {
	flex-direction: column;
	gap: 1.5rem;
}

.root_comment__dialog::backdrop {
	background-color: hsl(0, 0%, 0%);
	opacity: 0.5;
}

.dialog_header {
	color: var(--clr-dark-blue);
	font-weight: var(--fw-500);
	font-size: var(--fs-600);
}

.dialog_text {
	color: var(--clr-grayish-blue);
}

.dialog_btn_container {
	width: 100%;
	gap: 0.5rem;
}

.cancel {
	background-color: var(--clr-grayish-blue);
	flex-basis: 100%;
}

.delete {
	flex-basis: 100%;
	background-color: var(--clr-soft-red);
}

.replies_list {
	margin-left: auto;
	width: calc(100% - 2rem);
	grid-template-columns: 2rem 1fr;
}

.replies_container > :last-child {
	/* border: 1px red solid; */
	margin-bottom: 0;
}

.divider {
	width: 0.2rem;
	background-color: var(--clr-light-gray);
	height: 100%;
}

.replies_container {
	gap: 1.5rem;
}

.tag {
	color: var(--clr-blue);
	font-weight: var(--fw-500);
	margin-right: 0.25rem;
}

.comment_buttons {
	margin-left: auto;
}

@media (width <= 830px) {
	.root_comment__container {
		flex-direction: column;
		isolation: isolate;
	}

	.rating {
		order: 3;
		display: flex;
		margin-top: -2.25rem;
		flex-flow: row-reverse;
		margin-right: auto;
	}
	.increase_btn {
		border-radius: 0 var(--br-5) var(--br-5) 0;
	}
	.decrease_btn {
		border-radius: var(--br-5) 0 0 var(--br-5);
	}

	.comment_buttons {
		order: 10;
	}

	.user_info {
		justify-content: flex-start;
		gap: 0.75rem;
	}
	.username,
	.timestamp,
	.you {
		margin: 0;
	}

	.comment_buttons {
		z-index: 2;
	}

	.replies_list {
		width: 100%;
		grid-template-columns: 1rem 1fr;
	}

	.user_input__form {
		flex-wrap: wrap;
	}

	.user_input_text {
		order: -1;
		width: 100%;
	}

	.user_input_submit {
		margin-left: auto;
		z-index: 2;
	}

	.user_input {
		margin: -0.75rem 0 0;
	}

	.root_comment__content:has(.user_input) .user_input {
		margin: 0 0 -0.75rem;
	}

	.phone_width {
		margin-left: 0;
	}
}

.comment_content {
	order: 10;
	flex-basis: 10000%;
}

.user_info {
	flex-wrap: wrap;
}
